/*--------------------------
 FONTS
--------------------------*/
@import "_normalize";

/*--------------------------
 FONTS
--------------------------*/
@import "_fonts";

/*--------------------------
 GLOBAl
--------------------------*/
*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body{
	color: #fff;
	min-width: 310px;
	background: #fff;
	line-height: 1.6;
	font-size: 16px;
	font-family: "RobotoRegular", sans-serif;
}


/*--------------------------s
 CUSTOM CODE GOES HERE
--------------------------*/

